h1 {
    text-transform: uppercase;
    font-size: 28px;
    margin-top: 140px;
    text-align: center;
}

img {
    margin-top: 125px;
    padding-bottom: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p {
    font-style: 15px;
    text-align: center;
}
